services:
  web:
    build: ./frontend
    network_mode: host
    command: node build

  proxy:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web
    network_mode: host