services:
  portfolio_frontend:
    image: nikolayli/portfolio_frontend:latest
    expose:
      - 3000
    command: node build

  portfolio_proxy:
    container_name: portfolio_proxy
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - portfolio_frontend
    ports:
      - 80:80