services:
  web:
    build: ./web
    network_mode: host
    command: node build
  proxy:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /shared/images:/images
      - /shared/html_blog_posts:/html_blog_posts
    depends_on:
      - web
    network_mode: host