[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
passlib = "*"
pyjwt = "*"
python-dotenv = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
google = "*"
google-auth-oauthlib = "*"
starlette = "*"
itsdangerous = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.12"
