@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
    --color-bg-dark: oklch(0.92 0.045 139);
    --color-bg: oklch(0.96 0.045 139);
    --color-bg-light: oklch(1 0.045 139);
    --color-text: oklch(0.25 0.09 139);
    --color-text-muted: oklch(0.4 0.09 139);
    --color-highlight: oklch(1 0.09 139);
    --color-border: oklch(0.6 0.09 139);
    --color-border-muted: oklch(0.7 0.09 139);
    --color-primary: oklch(0.4 0.1 139);
    --color-secondary: oklch(0.4 0.1 319);
    --color-danger: oklch(0.5 0.09 30);
    --color-warning: oklch(0.5 0.09 100);
    --color-success: oklch(0.5 0.09 160);
    --color-info: oklch(0.5 0.09 260);
}

body {
    @apply bg-bg-dark font-[Ubuntu] text-text;
}