@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Barcode+128&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=VT323&display=swap');
@import 'tailwindcss';

@theme {
  --color-bg_gray: #f0f0f0;
  --color-lilac: #c8a2c8;
  --color-primary: #58c9ff;
  --color-secondary: #ff89b5;
  --color-success: #00b844;
  --color-gold: #f5c542;

  --font-ibm: 'IBM Plex Serif', serif;
  --font-code: 'Source Code Pro', sans-serif;
  --font-vt: VT323, sans-mono;
  --font-barcode: 'Libre Barcode 128', sans;
}

button {
  cursor: pointer;
}